:host ::ng-deep .p-menubar {
  background-color: #f8f9fa;
  border: none;
}

:host ::ng-deep .p-menubar ul {
  list-style-type: none;
  padding: 0;
}

:host ::ng-deep .p-menubar a {
  text-decoration: none;
  color: #333;
  padding: 0 15px;
}

:host ::ng-deep .p-menubar a:hover {
  color: #007bff;
}

.bg-custom {
  background-color: #e5e5e6; /* Altere para a cor desejada */
  color: white; /* Altere a cor do texto se necessário */
}


.d-flex {
  display: flex;
  align-items: center; /* Alinha verticalmente ao centro */
}

.mr-2 {
  margin-right: 0.5rem; /* Margem à direita da imagem */
}

.ml-auto {
  margin-left: auto; /* Empurra o botão para a extremidade direita */
}
