<div class="grid">
  <div class="col">
    <div class="text-left p-3 border-round-sm bg-custom font-bold d-flex align-items-center">
      <div class="mr-2 ml-2">
        <p-image
          src="assets/img/BetterLife.png"
          alt="LogoSite"
          width="80" />
      </div>
      <div class="text-right ml-auto">
        <p-button (onClick)="logout();" icon="pi pi-sign-out" [rounded]="true" [text]="true" [raised]="true" severity="secondary" pTooltip="Sair" tooltipPosition="left"/>
      </div>
    </div>
  </div>
</div>
